<div id="aboutmodal" class="modal fade" tabindex="-1" aria-labelledby="aboutmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutmodalLabel">SpiderFoot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>SpiderFoot is an open source, MIT-licensed footprinting tool, created by <a href='https://twitter.com/binarypool' target="_blank">Steve Micallef</a>. It is designed to be easy to use, fast and extensible.</p>
                <p>If you have any bugs to report, or requests for enhancements, please contact the support mailing list at <a href="mailto:support@spiderfoot.net">support@spiderfoot.net</a>.</p>
                <p>Visit the project website at <a href='https://www.spiderfoot.net/' target="_blank">https://www.spiderfoot.net/</a>.</p>
                <p>View the documentation at <a href='https://www.spiderfoot.net/documentation/' target="_blank">https://www.spiderfoot.net/documentation/</a>.</p>
                <p>Check out the Github repo at <a href='https://github.com/smicallef/spiderfoot' target="_blank">https://github.com/smicallef/spiderfoot</a>.</p>
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>